{% extends "base.html"%}


{% block body %}
<h4 class="underline">{{question.question}}</h4>
<br>

<input type="radio" id="male" name="gender" value="male">
<label for="male">{{answ1.answ1}}</label><br>
<input type="radio" id="male" name="gender" value="male">
<label for="male">{{answ1.answ1}}</label><br>
<input type="radio" id="male" name="gender" value="male">
<label for="male">{{answ1.answ1}}</label><br>
<input type="radio" id="male" name="gender" value="male">
<label for="male">{{answ1.answ1}}</label><br>
<input type="submit">

{% endblock body %}
